#countup p {
display: inline-block;
padding: 5px;
font-size: 54px;
text-align: center;
font-weight: bold;
}

h3 , h4 {
	text-align: center;
}

ul {
	text-align: center;
	list-style-position: inside;
}

#king {
	width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border: solid 5px;
    border-color: black;
}

.jumbotron {
	background: #cdaa44;
	border: solid 5px;
    border-color: black;
}

body {
	background: #65666a;
}